<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>{{ 'TABS.DASHBOARD' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="log">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{ 'TABS.LOG' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>{{ 'TABS.HISTORY' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="courses">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>{{ 'TABS.COURSES' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
